<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/skeleton.css">
  <link rel="stylesheet" href="/custom.css">
  <title>Pokedex: All</title>
</head>
<body>
  <div class="container">
    <% for (pokemon of data) { %>
      <div class="pokemon-card" id="<%= pokemon.name %>">
        <h4><%= pokemon.name %></h4>
        <img src="<%= pokemon.img %>" alt="<%= `picture of ` + pokemon.name %>">
        <div class="pokemon-card-actions">
          <a href="/pokemon/:id/edit" method="GET">
            <button>Edit</button>
          </a>
          <a href="/pokemon/:id" method="POST">
            <button>Delete</button>
          </a>
        </div>
      </div>
    <% } %>
  </div>
</body>
</html>