<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/skeleton.css">
  <link rel="stylesheet" href="/custom.css">
  <title>New Pokemon</title>
</head>

<body>
  <div class="container">
    <h1>
      New Pokemon:
    </h1>
    <form action="/pokemon" method="POST">
      <input type="hidden" id="pokemon-id" name="id" value="<%= Number(data) + 1 %>">
      <label for="new-pokemon">Name:</label>
      <input type="text" id="new-pokemon" name="name">
      <label for="new-pokemon-img">Image:</label>
      <input type="file" id="new-pokemon-img" name="img">
      <label for="type">Type:</label>
      <input type="text" id="type" name="type" placeholder="Seperate types with space">
      <input type="hidden" id="pokemon-stats" name="stats" value="<%= [] %>">
      <label for="hp">HP:</label>
      <input type="number" id="hp" name="hp">
      <label for="attack">Attack:</label>
      <input type="number" id="attack" name="attack">
      <label for="defense">Defense:</label>
      <input type="number" id="defense" name="defense">
      <label for="spattack">Sp Attack:</label>
      <input type="number" id="spattack" name="spattack">
      <label for="spdefense">Sp Defense:</label>
      <input type="number" id="spdefense" name="spdefense">
      <label for="speed">Speed:</label>
      <input type="number" id="speed" name="speed"><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>

</html>